### OS X meta ###
.DS_Store

### hostinator ###
.vagrant/

### hostinator-WebUI ###
public/node_modules
public/bower_components
public/assets/js/build.js
public/assets/js/modernizr.js
public/assets/css/*.css
public/assets/fonts/*
!public/assets/fonts/.gitkeep
public/assets/images/*
!public/assets/images/.gitkeep
