.btn--fake {
  padding: 0;
  background: transparent;
  color: $colorLink;
  line-height: inherit;
  &:hover {
    color: $colorLink;
    background: transparent;
    text-decoration: underline;
  }
}

.btn--hidden {
  color: $colorTextLighter;
  &:hover {
    color: $colorTextLight;
  }
}

.btn--delete {
  &:hover {
    color: red;
  }
}

.btn:disabled {
  color: lighten($colorTextLighter, 10%);
  &:hover {
    color: lighten($colorTextLighter, 10%);
    text-decoration: none;
  }
}
