.btn {
  transition: color .2s;
  &:focus,
  &:active {
    outline-color: $colorLink;
  }
}

.btn--fake {
  padding: 0;
  background: transparent;
  color: $colorLink;
  line-height: inherit;
  &:hover {
    color: $colorLink;
    background: transparent;
    text-decoration: underline;
  }
}

.btn--hidden {
  color: $colorTextLightest;
  &:hover {
    color: $colorTextLighter;
  }
}

.btn--delete {
  &:hover {
    color: tomato;
  }
}

.btn:disabled {
  cursor: no-drop;
  color: lighten($colorTextLighter, 10%);
  &:hover {
    color: lighten($colorTextLighter, 10%);
    text-decoration: none;
  }
}
