/* Sticky footer with fixed navbar
(via http://getbootstrap.com/examples/sticky-footer-navbar)
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;

  > .container {
    padding: 60px 15px 0;
  }
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #f5f5f5;

  > .container {
    padding-right: 15px;
    padding-left: 15px;
  }
}

.container .text-muted {
  margin: 20px 0;
}

code {
  font-size: 80%;
}
