.headline {
  color: $colorTextLight;
  text-align: center;
}

.headline--seperated {
  position: relative;
  margin-bottom: $baseUnit*2;
  padding-bottom: $baseUnit*2;
  &:after {
    position: absolute;
    content: '';
    width: 100px;
    left: 50%;
    margin-left: -50px;
    height: 5px;
    background: linear-gradient(to right, rgba($colorGreyDark, 0),  $colorGreyDark 50%,  rgba($colorGreyDark, 0));
    bottom: 0;
  }
  &-contract {
    margin-bottom: 0;
    padding-bottom: $baseUnit;
  }
  &.headline--light {
    &:after {
      background: linear-gradient(to right, rgba(#fff, 0),  rgba(#fff, .4) 50%,  rgba(#fff, 0));
    }
  }
}

.headline--light {
  color: rgba(#fff, .8);
}
