.host-input {
  margin-bottom: $baseUnit*2;
  &__wrap {
    position: relative;
  }
  &__input {
    width: 100%;
    border: 0;
    text-align: center;
    @include font-size($headingSize4, false);
    font-weight: bold;
    line-height: 3;
    color: $colorTextLight;
    &:focus {
      outline-color: $colorMain;
    }
    &--ip {
      background: linear-gradient(to left, darken($colorGreyDark, 10%), $colorGreyDark $baseUnit);
      color: #fff;
    }
  }
}

label.host-input-error {
  position: absolute;
  left:0;
  bottom: 0;
  right: 0;
  text-align: center;
  opacity: .3;
  @include font-size(10px);
  pointer-events: none;
}
