html {
  @include media($breakTablet) {
    font-size: 1.25em;
  }
  @include media($breakLaptop) {
    font-size: 1.5em;
  }
}

.text--light {
  color: rgba(white, .8);
}

.text--large {
  font-weight: bold;
  @include font-size($headingSize5);
  @include media($breakLaptop) {
    @include font-size($headingSize3);
  }
}
