/**
 * style.scss
 *
 * Author: Marian Friedmann
 *
 */

/**
 * basicss overrides
 *
 * any defaults in basicss/basicss/_settings.scss
 * may be overridden...
 *
 * e.g. $prototyping: true;
 */

$navObject: true;
$gridObject: true;
$buttonObject: true;
$constrainObject: true;

/**
 * Fonts
 */

@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);

$fontPrimary: "Montserrat", sans-serif;

/**
 * Headings
 */

$headingSize1: 48px;
$headingSize2: 36px;
$headingSize3: 32px;
$headingSize4: 24px;
$headingSize5: 18px;
$headingSize6: 16px;

/**
 * Colors
 */

$colorMain: #7200FF;
$colorGrey: #E2E2E2;
$colorGreyLight: #F7F7F7;
$colorText: #333;
$colorTextLight: #868686;
$colorTextLighter: #AFAFAF;
$colorLink: $colorMain;

/**
 * basicss import
 */

@import 'bower_components/basicss/basicss';

/**
 * userstyle imports
 *
 * e.g. @import 'nav';
 */

@import 'lined';
@import 'btn';
@import 'constrain';
@import 'nav';
@import 'typo';
@import 'icon';

@import 'base';
@import 'center';
@import 'logo';
@import 'dotted-list';
@import 'modal';
@import 'headline';
